# Forecasting Traffic Volume - Validating and Importing Related Time Series Data
**이 노트북의 원본은 https://github.com/chrisking/ForecastPOC.git 으로서, 원본 내용의 기반하에 추가 내용등을 기술한 버전 입니다.**

Summary: 
* 데이타 준비
    * Related Time Series 데이타 준비 및
        * timestamp, temperature, rain_1h, snow_1h, clouds_all, weather, item_id 로 구성 함          * Forecast Object 생성
    * 스키마를 생성하고 Related-Time-Series 의 데이타 셋을 생성
    * 위에서 생성한 데이타 셋( Related-Time-Series) 과 Target-Time-Serie 을 데이타 셋 그룹으로 연결
    * S3에 Related-Time-Series 데이타 업로드
    * Related Time Series Data를 데이타 셋에 Import 하는 잡 생성 및 실행
* 데이타 정보
    * 데이타 정의
        * Data File: Hourly Interstate 94 Westbound traffic volume for MN DoT ATR station 301, roughly midway between Minneapolis and St Paul, MN. Hourly weather features and holidays included for impacts on traffic volume.)
    * Attribute 정보
        * holiday: Categorical US National holidays plus regional holiday, Minnesota State Fair 
        * rain_1h: Numeric Amount in mm of rain that occurred in the hour
        * snow_1h: Numeric Amount in mm of snow that occurred in the hour
        * clouds_all: Numeric Percentage of cloud cover
        * weather_main: Categorical Short textual description of the current weather
        * weather_description: Categorical Longer textual description of the current weather
        * date_time: DateTime Hour of the data collected in local CST time
        * traffic_volume: Numeric Hourly I-94 ATR 301 reported westbound traffic volume

# Validating and Importing Related Time Series Data

## Obtaining Your Data

This will take off where you stopped regarding your target time series data. In this particular exmaple, one master file contained both the target and the related time series information. That may or may not be the case for your problem. The goal here is to produce a file that contains the following 2 required attributes:

1. Timestamp - Must be of the same format and total range as the target-time series data, as well as slices of values into the dates for your forecast.
1. Item_ID - Must exist for all the time stamps for each item in your time series dataset

In addition to those attributes we are looking for variables that shift over time that are impactful in some way towards our desired goal of predicting traffic volumes.

Again the data was already bundled together for us in this sample so we will skip obtaining it a second time but that is where you would start otherwise.

With the data ready to go, skip the blank cell ( feel free to add to it if you need to manipulate your own data) and execute the cells to handle our imports and retrieving our stored values from the previous notebook.

In [1]:
import boto3
from time import sleep
import subprocess
import pandas as pd
import json
import time
import pprint
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates
%store -r

## Building The Related Time Series File

The challenge here is to make sure that we leave absolutely 0 entries with NaN values or the service will throw an error when building a Predictor. This is because the values must be present in order for us to make assumptions about their impact overall.

In [2]:
related_time_series_df = target_df.copy()
related_time_series_df.dropna()
related_time_series_df = full_df.join(related_time_series_df, how='outer')
cols = related_time_series_df.columns.tolist()
related_time_series_df[cols] = related_time_series_df[cols].replace('', np.nan).ffill()
related_time_series_df = related_time_series_df.loc['2017-01-01':]
print (related_time_series_df.index.min())
print (related_time_series_df.index.max())

2017-01-01 00:00:00
2018-09-30 23:00:00

We can see now that the data covers the range of our target time series of 2017's entire year to the end of our known data about 2018. We have not yet defined a forecast horizon yet but it is important to note here that the related data needs to cover that time span. To spoil later work, the horizon for us is 480 hours or 20 days, plenty of time with 9 months of validation data.

Lastly on prepping the base set of the data we validate there are no blanks or NaNs.

In [3]:
related_time_series_df[related_time_series_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [holiday, temp, rain_1h, snow_1h, clouds_all, weather_main, weather_description, traffic_volume]
Index: []

### Look at the columns and decide what we should keep:

In [4]:
related_time_series_df.sample(3)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,traffic_volume
2018-05-20 07:00:00,None,279.58,0.0,0.0,1.0,Clear,sky is clear,1242.0
2017-08-29 15:00:00,None,297.75,0.0,0.0,75.0,Clouds,broken clouds,5977.0
2017-09-04 12:00:00,None,294.15,0.0,0.0,1.0,Haze,haze,4059.0

A few things to note here:

* Holidays are not needed given this date is in the US, we can just use the Holidays feature within Forecast: https://docs.aws.amazon.com/forecast/latest/dg/API_SupplementaryFeature.html
* Weather description seems to have more variety
* Traffic volume will be removed here. 
* We still need to add back the item_id field.

This leaves us with the following schema:

* `timestamp` - The Index
* `temp` - float
* `rain_1h` - float
* `snow_1h` - float
* `clouds_all` - float
* `weather_description` - string
* `item_ID` - string

The cell below will build that file for us.

In [5]:
# Restrict the columns to timestamp, traffic_volume
related_time_series_df = related_time_series_df[['temp', 'rain_1h', 'snow_1h', 'clouds_all', 'weather_description']]
# Add in item_id
related_time_series_df['item_ID'] = "1"
# Validate the structure
related_time_series_df.head()

,temp,rain_1h,snow_1h,clouds_all,weather_description,item_ID
2017-01-01 00:00:00,269.75,0.0,0.0,75.0,broken clouds,1
2017-01-01 01:00:00,269.95,0.0,0.0,1.0,sky is clear,1
2017-01-01 02:00:00,269.75,0.0,0.0,1.0,sky is clear,1
2017-01-01 03:00:00,269.65,0.0,0.0,40.0,scattered clouds,1
2017-01-01 04:00:00,269.48,0.0,0.0,1.0,sky is clear,1

In [6]:
# Save it off as a file:
related_time_series_filename = "related_time_series.csv"
related_time_series_path = data_dir + "/" + related_time_series_filename
related_time_series_df.to_csv(related_time_series_path, header=False)

## Adding Related Data to the DatasetGroup

Next we are going to create a related-time-series dataset, then add it to our dataset group and finally import our information and validate that it looks good. We will also delete this dataset import after we are done so that the first models do not yet receive any extra info from the related data.

You can of course to not delete and get started right away with related data informed models.

In [7]:
session = boto3.Session(region_name=region)
forecast = session.client(service_name='forecast')
forecast_query = session.client(service_name='forecastquery')

NameError: name 'region' is not defined

In [33]:
# Upload Related File
boto3.Session().resource('s3').Bucket(bucket_name).Object(related_time_series_filename).upload_file(related_time_series_path)
related_s3DataPath = "s3://"+bucket_name+"/"+related_time_series_filename

In [34]:
# Specify the schema of your dataset here. Make sure the order of columns matches the raw data files.
related_schema ={
   "Attributes":[
      {
         "AttributeName":"timestamp",
         "AttributeType":"timestamp"
      },
      {
         "AttributeName":"temperature",
         "AttributeType":"float"
      },
       {
         "AttributeName":"rain_1h",
         "AttributeType":"float"
      },
       {
         "AttributeName":"snow_1h",
         "AttributeType":"float"
      },
       {
         "AttributeName":"clouds_all",
         "AttributeType":"float"
      },
       {
         "AttributeName":"weather",
         "AttributeType":"string"
      },
      {
         "AttributeName":"item_id",
         "AttributeType":"string"
      }
   ]
}

In [41]:
related_DSN = datasetName + "_related"
response=forecast.create_dataset(
                    Domain="CUSTOM",
                    DatasetType='RELATED_TIME_SERIES',
                    DatasetName=related_DSN,
                    DataFrequency=DATASET_FREQUENCY, 
                    Schema = related_schema
)

In [42]:
related_datasetArn = response['DatasetArn']
forecast.describe_dataset(DatasetArn=related_datasetArn)

{'DatasetArn': 'arn:aws:forecast:us-east-2:057716757052:dataset/forecast_poc_gsmoon_ds_related',
 'DatasetName': 'forecast_poc_gsmoon_ds_related',
 'Domain': 'CUSTOM',
 'DatasetType': 'RELATED_TIME_SERIES',
 'DataFrequency': 'H',
 'Schema': {'Attributes': [{'AttributeName': 'timestamp',
    'AttributeType': 'timestamp'},
   {'AttributeName': 'temperature', 'AttributeType': 'float'},
   {'AttributeName': 'rain_1h', 'AttributeType': 'float'},
   {'AttributeName': 'snow_1h', 'AttributeType': 'float'},
   {'AttributeName': 'clouds_all', 'AttributeType': 'float'},
   {'AttributeName': 'weather', 'AttributeType': 'string'},
   {'AttributeName': 'item_id', 'AttributeType': 'string'}]},
 'EncryptionConfig': {},
 'Status': 'ACTIVE',
 'CreationTime': datetime.datetime(2020, 3, 3, 7, 1, 27, 185000, tzinfo=tzlocal()),
 'LastModificationTime': datetime.datetime(2020, 3, 3, 7, 1, 27, 185000, tzinfo=tzlocal()),
 'ResponseMetadata': {'RequestId': 'e4172686-d6ba-467b-88a2-21c3b4491410',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Tue, 03 Mar 2020 07:01:30 GMT',
   'x-amzn-requestid': 'e4172686-d6ba-467b-88a2-21c3b4491410',
   'content-length': '733',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

### Attach the Dataset to the Dataset Group:
**Important: Attach the target data set and releated data set to the dataset group**

In [55]:
forecast.update_dataset_group(DatasetGroupArn=datasetGroupArn, DatasetArns=[target_datasetArn, related_datasetArn])

{'ResponseMetadata': {'RequestId': '5b322dfc-62b0-49c2-a823-c18a8314e74f',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Tue, 03 Mar 2020 14:22:33 GMT',
   'x-amzn-requestid': '5b322dfc-62b0-49c2-a823-c18a8314e74f',
   'content-length': '2',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

**위의 작업 후에 아래와 같이 TARGET_TIME_SERIES, RELATED_TIME_SERIES가 보여야 함.**

![RelationDataSet](static/imgs/RelationDataSet.png)

In [43]:
datasetImportJobName = 'DSIMPORT_JOB_RELATEDPOC'
related_ds_import_job_response=forecast.create_dataset_import_job(DatasetImportJobName=datasetImportJobName,
                                                          DatasetArn=related_datasetArn,
                                                          DataSource= {
                                                              "S3Config" : {
                                                                 "Path":related_s3DataPath,
                                                                 "RoleArn": role_arn
                                                              } 
                                                          },
                                                          TimestampFormat=TIMESTAMP_FORMAT
                                                         )

In [44]:
rel_ds_import_job_arn=related_ds_import_job_response['DatasetImportJobArn']
print(rel_ds_import_job_arn)

arn:aws:forecast:us-east-2:057716757052:dataset-import-job/forecast_poc_gsmoon_ds_related/DSIMPORT_JOB_RELATEDPOC

The cell below will poll until the import process has completed, once that has been accomplished we can review the metrics and decide to delete the data or not.

In [49]:
while True:
    dataImportStatus = forecast.describe_dataset_import_job(DatasetImportJobArn=rel_ds_import_job_arn)['Status']
    print(dataImportStatus)
    if dataImportStatus != 'ACTIVE' and dataImportStatus != 'CREATE_FAILED':
        sleep(30)
    else:
        break

ACTIVE

## Evaluating the Related Time Series Data

First let us examine the dataframe that we provided to Forecast:

In [50]:
related_time_series_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 18609 entries, 2017-01-01 00:00:00 to 2018-09-30 23:00:00
Data columns (total 6 columns):
temp                   18609 non-null float64
rain_1h                18609 non-null float64
snow_1h                18609 non-null float64
clouds_all             18609 non-null float64
weather_description    18609 non-null object
item_ID                18609 non-null object
dtypes: float64(4), object(2)
memory usage: 1.6+ MB

In [47]:
related_time_series_df.sample(3)

,temp,rain_1h,snow_1h,clouds_all,weather_description,item_ID
2017-07-20 19:00:00,303.30,0.0,0.0,5.0,sky is clear,1
2018-04-19 17:00:00,282.75,0.0,0.0,5.0,sky is clear,1
2018-06-12 21:00:00,296.08,0.0,0.0,75.0,broken clouds,1

Above we see 18,609 entries and not one is a NaN value! This is perfect. Now to double check what we imported:

In [48]:
forecast.describe_dataset_import_job(DatasetImportJobArn=rel_ds_import_job_arn)

{'DatasetImportJobName': 'DSIMPORT_JOB_RELATEDPOC',
 'DatasetImportJobArn': 'arn:aws:forecast:us-east-2:057716757052:dataset-import-job/forecast_poc_gsmoon_ds_related/DSIMPORT_JOB_RELATEDPOC',
 'DatasetArn': 'arn:aws:forecast:us-east-2:057716757052:dataset/forecast_poc_gsmoon_ds_related',
 'TimestampFormat': 'yyyy-MM-dd hh:mm:ss',
 'DataSource': {'S3Config': {'Path': 's3://057716757052forecastpoc-gsmoon/related_time_series.csv',
   'RoleArn': 'arn:aws:iam::057716757052:role/ForecastRolePOCGSMoon'}},
 'FieldStatistics': {'clouds_all': {'Count': 18609,
   'CountDistinct': 21,
   'CountNull': 0,
   'CountNan': 0,
   'Min': '0.0',
   'Max': '92.0',
   'Avg': 48.0432586382933,
   'Stddev': 39.557027100024285},
  'item_id': {'Count': 18609, 'CountDistinct': 1, 'CountNull': 0},
  'rain_1h': {'Count': 18609,
   'CountDistinct': 87,
   'CountNull': 0,
   'CountNan': 0,
   'Min': '0.0',
   'Max': '10.6',
   'Avg': 0.052013004460207436,
   'Stddev': 0.41238663420793753},
  'snow_1h': {'Count': 18609,
   'CountDistinct': 1,
   'CountNull': 0,
   'CountNan': 0,
   'Min': '0.0',
   'Max': '0.0',
   'Avg': 0.0,
   'Stddev': 0.0},
  'temperature': {'Count': 18609,
   'CountDistinct': 3815,
   'CountNull': 0,
   'CountNan': 0,
   'Min': '246.15',
   'Max': '310.07',
   'Avg': 282.044064753614,
   'Stddev': 12.551937472205516},
  'timestamp': {'Count': 18609,
   'CountDistinct': 15312,
   'CountNull': 0,
   'Min': '2017-01-01T00:00:00Z',
   'Max': '2018-09-30T23:00:00Z'},
  'weather': {'Count': 18609, 'CountDistinct': 33, 'CountNull': 0}},
 'DataSize': 0.0009384071454405785,
 'Status': 'ACTIVE',
 'CreationTime': datetime.datetime(2020, 3, 3, 7, 1, 34, 845000, tzinfo=tzlocal()),
 'LastModificationTime': datetime.datetime(2020, 3, 3, 7, 3, 39, 855000, tzinfo=tzlocal()),
 'ResponseMetadata': {'RequestId': '0f96ecf4-ed1a-49de-b91d-8a8976a960eb',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Tue, 03 Mar 2020 07:12:29 GMT',
   'x-amzn-requestid': '0f96ecf4-ed1a-49de-b91d-8a8976a960eb',
   'content-length': '1446',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

Fantastict! No NaNs or nulls and the entire dataset is ready to go. If you'd like to delete this information so you can build your models without related data simply uncomment the cell below. Once that is done you are ready to move forward building your models with Amazon Forecast.

In [25]:
#forecast.delete_dataset_import_job(DatasetImportJobArn=rel_ds_import_job_arn)